djangorestframework # работа с фреймворк Django_rest
djangorestframework-simplejwt # с jwt токенами логин регистрация 
psycopg2-binary # работа с psql
pillow # с картинами/изображениями
python-decouple # сокрытие данных 
drf-yasg # документация для фронд энд
django-filter # фильтрация данных
redis # брокер задач
celery # таск менеджер
django-cors-headers # CORS 
django-redis

CREATE USER syimyksartbaev10 WITH PASSWORD '1';
ALTER ROLE syimyksartbaev10 WITH SUPERUSER CREATEROLE CREATEDB REPLICATION BYPASSRLS;
CREATE DATABASE syimyksartbaev10 WITH OWNER syimyksartbaev10;

git clone https://github.com/NoobMen2004/Spotwfy.git

syimyksartbaev10@instance-20250822-184715:~$ sudo nano /etc/systemd/system/gunicorn.service
syimyksartbaev10@instance-20250822-184715:~$ sudo systemctl start gunicorn
sudo systemctl enable gunicorn
Created symlink /etc/systemd/system/multi-user.target.wants/gunicorn.service → /etc/systemd/system/gunicorn.service.

[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=syimyksartbaev10
Group=www-data
WorkingDirectory=/home/syimyksartbaev10/Spotwfy
ExecStart=/home/syimyksartbaev10/Spotwfy/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/syimyksartbaev10/Spotwfy/project.sock config.wsgi:application

[Install]
WantedBy=multi-user.target




server {
    listen 80;
    server_name 34.58.94.47;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        alias /home/syimyksartbaev10/Spotwfy;
    }

    location /media/ {
        alias /home/syimyksartbaev10/Spotwfy;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/syimyksartbaev10/Spotwfy/project.sock;
    }
}
